//@import "reset.scss";
@import "color.scss";

/* Body */
.container {
	padding: 10px;
}

/* Articles */
.article {
	font-size: 18px;
	.article-title h1 {
		color: green;
		font-weight: bold;
		&:hover {
			color: red;
			cursor: pointer;
		}
	}
}

/* Notification */
@function borderColor($color) {
	@return desaturate(darken($color, 30%), 70%)
}

@mixin border($color : white) {
	border-color: borderColor($color);
	background-color: $color;
}

.info {
	padding: 10px;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 10px 0px;
}

.error {
	@extend .info;
	@include border($red);
}

.success {
	@extend .error;
	@include border($green);
}

/* Bouton */
.submit {
	width: 100%;
	padding: 10px;
	background-color: $btnColor;
	@if $btnColor == black {
		color: white;
	} @else {
		color: black;
	}
}

/* Grille */
$columns: 12;
$width: 100%;

.grid {
	margin: 10px;
	width: 100%;
}

.column {
	background-color: #FA8258;
	float: left;
	margin: 0 1%;
}

@for $i from 1 to $columns + 1 {
	.column#{$i} {
		@extend .column;
		width: ($i * $width) / $columns - (2 * 1%);
	}	
}